---
import { pwaInfo } from 'virtual:pwa-info'; // eslint-disable-line

import { Reload } from '@/components/reload';

import { count } from '@/lib/sounds';

import '@/styles/global.css';

interface Props {
  description?: string;
  title?: string;
}

const title = Astro.props.title || 'Moodist: Ambient Sounds for Focus and Calm';
const description =
  Astro.props.description ||
  `Moodist is a free and open-source ambient sound generator featuring ${count()} carefully curated sounds. Create your ideal atmosphere for relaxation, focus, or creativity with this versatile tool.`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <meta content="#18181b" name="theme-color" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />

    <title>{title}</title>
    <meta content={title} name="title" />
    <meta content={description} name="description" />

    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content="Moodist" property="og:site_name" />
    <meta content="https://moodist.app" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content="https://moodist.app/og.png" property="og:image" />

    <meta content="summary_large_image" name="twitter:card" />

    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <slot />

    <Reload client:load />
  </body>
</html>
