---
import { pwaInfo } from 'virtual:pwa-info'; // eslint-disable-line

import { Reload } from '@/components/reload';

import { count as soundCount } from '@/lib/sounds';

import { getTranslator } from '@/i18n/utils';

import '@/styles/global.css';
import LanguageSwitcher from '@/components/LanguageSwitcher.astro';
interface Props {
  description?: string;
  title?: string;
}
const currentLocale = Astro.currentLocale;
const t = await getTranslator(currentLocale);

const count = soundCount();
const title = Astro.props.title || t('site.title');
const description = Astro.props.description || t('site.description', { count });
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <meta content="#18181b" name="theme-color" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />

    <title>{title}</title>
    <meta content={title} name="title" />
    <meta content={description} name="description" />

    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content={t('site.og-site-name')} property="og:site_name" />
    <meta content="https://moodist.app" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content="https://moodist.app/og.png" property="og:image" />

    <meta content="summary_large_image" name="twitter:card" />

    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <header class="page-header-controls">
      <LanguageSwitcher />
    </header>
    <slot />

    <Reload client:load />
  </body>
</html>
<style is:global>
  .page-header-controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1.5rem;
  }
</style>
